.searchdiv{
    display: grid;
    gap: 40px;
    background-color: #f1f4f8;
     border-radius: 10px;
     padding: 48px;
}
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    padding: 20px;
    background-color: white;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.searchpart{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logosearch{
    cursor: pointer;
    /* font-size: 25px; */
}
.text1{
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    color: blue;
    border: none;
}
.cross{
    /* font-size: 30px; */
    color: #a5a6a6;
}
.cross:hover{
    color: #252b36;
}
.butt1{
    background-color: #2a68ff;
    padding: 20px;
    padding-left:40px ;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}
.butt1:hover{
    background-color: blue;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.search1{
    display: flex;
    gap: 8px;
    align-items: center;

}
.sort{
    color: #808080;
    font-weight: 600;
}
.opt{
    background-color: white;
    padding-left:16px ;
    padding-right: 16px;
    padding-top:4px ;
    padding-bottom:4px ;
    border-radius: 3px;
    border: none;
    font-weight: 600;
}
.clear{
    cursor: pointer;
    color: #a1a1a1;
}