.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}
.jobsearch{
    font-size: 25px;
    color: #2a68ff;
}
.nav2{
    display: flex;
    gap: 32px;
}
.menu{
    color: #676767;
}
.menu:hover{
    color: #2a68ff;
}